# Virtual Environments
venv/
.venv/
env/

# Environment and credentials
.env
.envs/
google-credentials.json

# Caches
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage reports
htmlcov/
.coverage
coverage/

# IDE specific
.vscode/
.idea/
# .cursor/

# Unnecessary Docs
docs/ai_tips/
docs/useful/

# Project specific
useful_functions/
data_sources/
